BATTLENET_CLIENT_ID="YOUR_CLIENT_ID_HERE"
BATTLENET_CLIENT_SECRET="YOUR_CLIENT_SECRET_HERE"
BATTLENET_REGION="US"
BATTLENET_LOCALE="en_US"
BATTLENET_API_TIMEOUT=5

################################################################################
# Values needed for live testing below. None of these values are needed to use
# the library, but they are needed to run the tests.
################################################################################

#   These values need to be the realm-slug, character name, and character id of
#   a current character (logged in w/in the last 30 days). I use my main...that
#   will probably work for you, but there is always a chance I've taken a break
#   from WoW. If the test fail, change to a charcter you know is active.
BATTLENET_TEST_REALM_SLUG="trollbane"
BATTLENET_TEST_CHARACTER_NAME="belarsa"
BATTLENET_TEST_CHARACTER_ID=194632169

#   WoW Token range - this is a decent range for the US region based on
#   historical data. If you are in a different region, you may need to adjust.
#   Prices are in gold (API returns copper, but test adjusts to gold).
BATTLENET_TEST_WOW_TOKEN_MIN=150000
BATTLENET_TEST_WOW_TOKEN_MAX=380000
